{% extends "base_site/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-md-8">
            <div class="card bg-dark text-light">
                <div class="card-header">
                    <h1 class="text-center mb-0">Félicitations !</h1>
                </div>
                <div class="card-body">
                    <p class="card-text text-center">
                        Votre demande de licence a été soumise avec succès. Nous vous contacterons sous peu avec les résultats de votre demande.
                    </p>
                    <div class="text-center mt-4">
                        <a href="{% url 'f1cs-home' %}" class="btn btn-custom">Retour à l'accueil</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
