{% extends "base_site/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img bg-secondary" src="{{ user.profile.image.url }}" alt="Photo de profil">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p>{{ user.first_name }} {{ user.last_name }}</p>
                <p>Date d'arrivée : {{ user.date_joined.date }}</p>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Info profil</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-custom" type="submit">Mettre à jour</button>
                <small>
                    <a class="ml-2" href="{% url 'password-change' %}">Modifier son mot de passe</a>
                </small>
            </div>
        </form>
    </div>
</div>

{% endblock content %}